APP_PORT=3000
MONGO_URI=mongodb://localhost:27017/chatbot_ddd
WHATSAPP_PROVIDER=cloud

WA_VERIFY_TOKEN=mi_verify_token
WA_ACCESS_TOKEN=EAA...
WA_PHONE_NUMBER_ID=123456789
WA_GRAPH_VERSION=v20.0

WA_WEB_CLIENT_ID=bot-1
WA_WEB_AUTH_PATH=.wwebjs_auth

GEMINI_API_KEY=xxxx
GEMINI_MODEL=gemini-1.5-flash

CONTEXT_MAX_MESSAGES=10
BUSINESS_INFO_PATH=business-info.json
APPOINTMENT_FORM_URL=https://opticaelpaisa.com.co
ADVISOR_WHATSAPP_PHONE=573205894045
# ADVISOR_WHATSAPP_URL=https://wa.me/573205894045?text=quiero%20apartar%20una%20cita
CORS_ORIGIN=http://localhost:4200
ELPAISA_API_BASE=http://localhost/elpaisa/api
